<div class="editor">
    <div class="title">Add new Club</div>
    <form>
        <div class="field">
            <div class="field_label">Club name</div>
            <input type="text" name="name" [(ngModel)]="clubInfo.name">
        </div>
        <div class="field">
            <div class="field_label">Image</div>
            <input type="file" name="image" [(ngModel)]="clubInfo.image">
        </div>
        <div class="field">
            <div class="field_label">Category</div>
            <input type="text" name="category" [(ngModel)]="clubInfo.category">
        </div>
        <div class="field">
            <div class="field_label">Desc</div>
            <input type="text" name="description" [(ngModel)]="clubInfo.description">
        </div>
        <div class="field">
            <div class="field_label">Text</div>
            <textarea cols="30" rows="10" name="text" [(ngModel)]="clubInfo.text"></textarea>
        </div>
        <button (click)="onSubmit()">Add club</button>
    </form>
    <hr />
    <div class="title">Editor's List</div>
    <div class="editor_list">
        <div *ngFor="let c of clubs">
            <div class="editor_list__item">
                {{ c.name }}
                <button><i class="material-icons">delete</i></button>
                <button><i class="material-icons">create</i></button>
            </div>
        </div>
    </div>
</div>