.category {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 2rem;
    justify-content: center;
}
.category_item {
    padding: 10px 1rem;
    cursor: pointer;
    color: rgb(126, 126, 126);
    transition: 0.1s;
    border-radius: 5px;
}
.category_item:hover {
    color: #000;
    transition: 0.1s;
}
.active {
    color: #000;
}