.category {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 2rem;
    justify-content: center;
}
.category_item {
    padding: 10px 1rem;
    cursor: pointer;
    color: rgb(126, 126, 126);
    transition: 0.1s;
    border-radius: 5px;
}
.category_item:hover {
    color: #000;
    transition: 0.1s;
}
.active {
    color: #000;
}
@media (max-width: 1250px) {
    .category {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto 1fr;
        grid-gap: 1rem;
        justify-content: start;
    }
}
@media (max-width: 500px) {
    .category {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-gap: 0 1rem;
    }
}