<div class="cd">
    <div class="cd_image"><img src="{{ club.img }}" alt=""></div>
    <div class="cd_mid">
        <div class="cd_name">{{ club.name }}</div>
        <div class="cd_desc">{{ club.desc }}</div>
        <div class="cd_text">{{ club.text }}</div>
    </div>
    <div class="form">
        <div class="form_title">Хотите вступить?</div>
        <form>
            <div class="form_item">
                <div class="label">Имя</div>
                <input type="text" name="name" [(ngModel)]="userInfo.name">
            </div>
            <div class="form_item">
                <div class="label">Номер телефона</div>
                <input type="text" placeholder="+7 700 700 70 70" name="phone" [(ngModel)]="userInfo.phone">
            </div>
            <div class="submit" (click)="onSend()">Оставить заявку</div>
        </form>
    </div>
</div>